@model IEnumerable<EjemploIdentity.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index", "Pedidos", new { sortOrder = ViewBag.NameSortParm })">
                @Html.DisplayNameFor(model => model.Cliente.NombreCompleto)
            </a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Pedidos", new { sortOrder = ViewBag.FechaRSortParm  })">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </a>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            <a href="@Url.Action("Index", "Pedidos", new { sortOrder = ViewBag.FechaESortParm  })">
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </a>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            <a href="@Url.Action("Index", "Pedidos", new { sortOrder =  ViewBag.EstadoSortParm  })">
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </a>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
